name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip
      - run: pip install .[dev]
      - run: ruff check .
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip
      - run: pip install .[dev]
      - run: bandit -r src/ -c pyproject.toml
  types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip
      - run: pip install .[dev]
      - run: echo "Running MyPy Type Check..."
      - run: mypy
  tests:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        python:
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    needs:
      - lint
    steps:
      - run: echo "Testing ${{matrix.python}} on ${{matrix.os}}"
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python}}
          cache: pip
      - run: pip install .[dev]
      - run: pytest
      - run: pytest --cov=pygha --cov-report=xml
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
